#root {
    height: 100%;
}
/*https://www.w3schools.com/csS/css_align.asp*/
.Center {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8AA8A1;
}

.VerticalContainer {
    display: flex;
    flex-direction:column;
}

/*
#885A89
#8AA8A1
#CBCBD4
#D1B490
#EE7B30
*/


.MenuItem {
    margin:60px;
    padding: 20px;
    min-width: 300px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #B19470;
    border-style: solid;
    background-color: #D1B490; 
    font-family: 'Trebuchet MS';
    font-size: 24pt;
}
.MenuItem:hover {
    background-color: #C1A480;
}
.MenuItem:active {
    color: #666;
}

.TextInput {
    height:50px;
    font-size: 20pt;
    font-family: 'Trebuchet MS';
    text-align:center;
}

.Heading {
    text-align: center;
    font-size: 28pt;
    margin: 30px;
}

.GameCode {
    text-align: center;
    background-color: #D1B490;
    margin: 30px;
    margin-left:auto;
    margin-right:auto;
    max-width: fit-content;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}


.PlayersContainer {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    max-width:100%;
    text-align:center;
    margin:80px;
}

.Player {
    margin:30px;
    padding:30px;
    width: 300px;
    max-height:100px;
    border-radius: 30px;
    background-color: #885A89;
}


.StartGameButton {
    text-align:center;
    margin: 30px;
    margin-left:auto;
    margin-right:auto;
    background-color:#EE7B30;
    max-width: fit-content;
    border-radius:30px;
    border: 5px solid black;
    padding-left: 30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
}

.StartGameButton:hover {
    border-color: #EE7B30;
}

.StartGameButton:active {
    background-color: #FF8C41;
}

.Mascot {
    width: 512px;
    position: absolute;
    bottom:0px;
    right:0px;
    margin:25px;
}

.QuestionPreview {
    text-align:center;
    align:center;
    max-width:100%;
    background-color:#D1b490;
    border-radius: 30px;
    padding:50px;
    margin:25px;
    min-height:50px;
}

.AnswerContainer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-content:stretch;
    max-width:100%;
    min-width:100%;
}


.Answer {
    display:flex;
    align-items: center;
    justify-content:center;
    min-width:40%;
    padding:25px;
    margin: 25px;
    border-radius: 30px;
    min-height: 200px;
    border: solid 5px #CBCBD4;
}

.Answer:hover {
    border: solid 5px black;
}

.AnswerCol0 {
    background-color: #CBCBD4;
    border: solid 5px #CBCBD4;
}
.AnswerCol1 {
    background-color: #885A89;
    border: solid 5px #885A89;
}
.AnswerCol2 {
    background-color: #EE7B30;
    border: solid 5px #EE7B30;
}
.AnswerCol3 {
    background-color: #D1B490;
    border: solid 5px #D1B490;
}

.score {
    margin:auto;
    width:30%;
    border-radius:30px;
    background-color: #D1B490;
    text-align: center;
}


.QuestionFinish {
    margin: 50px;
    word-wrap: break-word;
}


.PodiumTable {
    max-width:100%;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
}


.PodiumCell {
    text-align:center;
    margin:50px;
    padding: 0px 50px 10px 50px;
}

/*https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen*/
html, body {
    margin: 0;
    max-height: 100%;
    min-height: 100%;
    background-color: #8AA8A1;
    font-family: 'Trebuchet MS';
    font-size: 24pt;

}
