#root {
    height: 100%;
}
/*https://www.w3schools.com/csS/css_align.asp*/
.Center {
    min-height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8AA8A1;
}

.VerticalContainer {
    display: flex;
    flex-direction:column;
}

/*
#885A89
#8AA8A1
#CBCBD4
#D1B490
#EE7B30
*/


.MenuItem {
    margin:60px;
    padding: 20px;
    min-width: 300px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #B19470;
    border-style: solid;
    background-color: #D1B490; 
    font-family: 'Trebuchet MS';
    font-size: 24pt;
}
.MenuItem:hover {
    background-color: #C1A480;
}
.MenuItem:active {
    color: #666;
}

.TextInput {
    height:50px;
    font-size: 20pt;
    font-family: 'Trebuchet MS';
    text-align:center;
}

.Heading {
    text-align: center;
    font-size: 28pt;
    margin: 30px;
}

.GameCode {
    text-align: center;
    background-color: #D1B490;
    margin: 30px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

/*https://stackoverflow.com/questions/5721904/make-body-fill-entire-screen*/
html, body {
    margin: 0;
    height: 100%;
    background-color: #8AA8A1;
    font-family: 'Trebuchet MS';
    font-size: 24pt;

}
